{% extends 'main/base.html' %}
{% load static %}
{% block meta %}
<title>Jigao | ja kichu jante chao</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock  %}
{%  block body %}
<!--NAVBAR-->
{% include 'main/partials/navbar.html' %}
<!--  LEFT NAV  -->

<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>sed eiusmod tempor incididunt
                ut labore et dolore magna aliqua</h1>
        </div>
    </div>
</section>
<div class="container">
    <div class="columns">
        <div class="column is-3 control has-icons-left mt-5">
            <p>DISCOVER MORE OF WHAT MATTERS TO YOU</p>
            <a class="button is-link is-outlined is-normal my-2">Self</a>
            <a class="button is-link is-outlined is-normal my-2">Programming</a>
            <a class="button is-link is-outlined is-normal my-2">Relationships</a>
            <a class="button is-link is-outlined is-normal my-2">Data Science</a>
            <a class="button is-link is-outlined is-normal my-2">Machine learning</a>
            <a class="button is-link is-outlined is-normal my-2">Politics</a>
            <a class="button is-link is-outlined is-normal my-2">Health</a>

            <hr>
            <div>
                <a class="mx-2" href="#">Help</a>
                <a class="mx-2" href="#">Contact</a>
                <a class="mx-2" href="#">About</a>
                <a class="mx-2" href="#">Terms</a>


                <div class="content has-text-centered mt-3">
                    <p>
                        ALL RIGHT RESERVED BY <strong>TEAM JIGAO</strong>

                    </p>
                </div>

            </div>
        </div>
        <hr>
        <div></div>



        <div class="column ">

            <section class="column is-9 is-offset-1">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet
                                massa fringilla egestas. Nullam condimentum luctus turpis.
                            </p>
                        </div>

                    </div>
                </article>
            </section>

            <!-- START ARTICLE FEED -->
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <img src="http://www.radfaces.com/images/avatars/daria-morgendorffer.jpg"
                                class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Sapien eget mi proin sed 🔱</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a href="#">@daria</a> on February 17, 2018
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est
                            velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
                        </p>
                        <p>
                            Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin
                            fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor
                            posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                        </p>
                        <h3 class="has-text-centered">Lectus vestibulum mattis ullamcorper velit sed ullamcorper
                            morbi. Cras tincidunt lobortis feugiat vivamus.</h3>
                        <p>
                            In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis
                            enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer
                            feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                            Arcu non sodales neque sodales ut etiam sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            <!-- END ARTICLE FEED -->


        </div>

    </div>

</div>







{% endblock %}